h1{
    white-space: pre;
    direction: rtl;
    background-image: url("banner.jpg");
    min-height: 500px no-repeat;
}


body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

ol{
    width: 70%;
    padding: 100px;
    margin: 100px auto;
    max-height: 200px;
    background: red;
    overflow: auto;
}

#step1{
    word-spacing: 3px;
    white-space: nowrap;
}

#step1:hover{
    transform: scale(1.2) skew(2deg, 3deg) translate(5px, 5px);
}

#step2{
    letter-spacing: 3px;
}

#step2:hover{
    transform: translate(5px, 5px);
}

footer{
    clear: both;

}

ul{
    list-style: none;
    background-color: gray;
    width: 365px;
    margin: 100px auto;
}

li:nth-child(2n-1){
    background-color: yellow;
}

li:first-child{
    background-color: aqua;
}
li:last-child{
    background-color: goldenrod;
}

p:first-line{
    text-transform: uppercase;
}

p:first-letter{
    font-size: 3em;
}

p:hover{
    background-color: azure;
    font-size: 1.1em;
    cursor: pointer;
}
#para2{
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 0 5px black;
    padding: 10px;
    text-decoration: underline;
    visibility:visible;
}